body {
  margin: 0;
  background: #00000000;
  overflow: auto;
  overflow-x: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.starWrapper {
  width: 100vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.textBox {
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  color: rgb(238, 238, 238);
  margin-top: 31vh;
}

.heading1,
.heading2 {
  text-align: center;
  justify-content: center;
  display: flex;
  color: #898f9c;
  position: relative;
  z-index: 10;
  flex-direction: row;
}

.highlight {
  color: #61dafb;
}

@media screen and (max-width: 992px) {
  .heading1,
  .heading2 {
    flex: 50%;
    /* flex-direction: column; */
  }

  .textBox {
    font-size: 40px;
    /* margin-bottom: -18vh; */
  }
}

@media screen and (max-width: 554px) {
  .heading1,
  .heading2 {
    flex: 50%;
    flex-direction: column;
  }

  .textBox {
    font-size: 40px;
    margin-bottom: -4vh;
  }
}

@media screen and (max-width: 552px) {
  .heading1,
  .heading2 {
    flex: 50%;
    flex-direction: column;
  }

  .textBox {
    font-size: 40px;
    margin-bottom: -12vh;
  }
}

@media screen and (max-width: 420px) {
  .heading1,
  .heading2 {
    flex: 50%;
    flex-direction: column;
  }

  .textBox {
    font-size: 40px;
    margin-bottom: -13vh;
  }
}
