/* Perspective Font Area */

.perspectiveWrapper {
  text-align: center;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  top: 0;
  background-color: #282c34;
  padding-bottom: 200px;
}

.perspectiveText {
  position: relative;
  top: 80px;
  left: -70px;
  color: #61dafb;
  font-family: Arial;
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}

.perspectiveLine {
  height: 40px;
  overflow: hidden;
  position: relative;
}

.options {
  flex: 50%;
  margin: 0;
  height: 50px;
  line-height: 50px;
  transition: all 0.5s ease-in-out;
}

.perspectiveLine:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}
.perspectiveLine:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}
.perspectiveText:hover p {
  transform: translate(0, -50px);
}
.perspectiveLine:nth-child(1) {
  left: 29px;
}
.perspectiveLine:nth-child(2) {
  left: 58px;
}
.perspectiveLine:nth-child(3) {
  left: 87px;
}
.perspectiveLine:nth-child(4) {
  left: 116px;
}
.perspectiveLine:nth-child(5) {
  left: 145px;
}

@media screen and (max-width: 992px) {
  .options {
    flex: 50%;
  }
}

@media screen and (max-width: 730px) {
  .perspectiveWrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 415px) {
  .perspectiveLine {
    margin-left: 30px;
  }
}
