.navBarWrapper,
.navbar {
  z-index: 1101 !important;
}

.navbar {
  margin-top: 4px;
  height: 50px;
  width: 100%;
}

.buttonWrapper {
  width: 100%;
}

.a {
  font-weight: 700;
}

.navBarRow {
  display: flex;
  justify-content: space-around;
}

.menuButton {
  border: none !important;
  background-color: #ffffff00 !important;
  box-shadow: none !important;
  float: right;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.contentDiv {
  width: 100%;
  height: auto;
  background-color: #575f68ec;
  border-radius: 0 0 50px 50px;
  text-align: center;
  justify-content: center;
}

h3,
.contentRow,
.contentHeader {
  text-align: center;
  justify-content: center;
}

.ul {
  list-style: none;
  background-color: #ffffff00;
  text-align: center;
  justify-content: center;
}

.li {
  font-weight: 700;
  text-align: center;
  justify-content: center;
  margin: 12.5px 45px 12.5px 0;
}

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 730px) {
}

@media screen and (max-width: 415px) {
}
/*  */
/* Perspective Font Area */
.perspectiveWrapper {
  text-align: center;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  top: 0;
  background-color: #282c3400;
  padding-bottom: 200px;
  position: relative;
  z-index: 1001;
}

.perspectiveText {
  position: relative;
  top: 80px;
  left: -70px;
  color: #61dafb;
  font-family: Arial;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -2px;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
}

.perspectiveLine {
  height: 40px;
  overflow: hidden;
  position: relative;
}

.options {
  flex: 50%;
  margin: 0;
  height: 50px;
  line-height: 42.5px;
  transition: all 0.65s ease-in-out;
  font-weight: 700;
}

.perspectiveLine:nth-child(odd) {
  transform: skew(60deg, -30deg) scaleY(0.667);
}
.perspectiveLine:nth-child(even) {
  transform: skew(0deg, -30deg) scaleY(1.333);
}
.perspectiveText:hover p {
  transform: translate(0, -50px);
}
.perspectiveLine:nth-child(1) {
  left: 29px;
}
.perspectiveLine:nth-child(2) {
  left: 58px;
}
.perspectiveLine:nth-child(3) {
  left: 87px;
}
.perspectiveLine:nth-child(4) {
  left: 116px;
}
.perspectiveLine:nth-child(5) {
  left: 145px;
}
/* Perspective Font Area */
