body::-webkit-scrollbar {
  display: none;
}

.siteWrapper {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
}

.starWrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  position: relative;
  top: 0;
  margin-bottom: -0.1vh;
}

/* Curved Div */
.svg {
  z-index: 1;
  position: relative;
}
/* Curved Div */

.aboutMeWrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
  background-color: #282c34;
  margin-bottom: -0.3vh;
}

.aboutMeContainer,
.aboutMeHeader {
  position: relative;
  z-index: 10;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.aboutMeHeader {
  color: #ffffff;
  padding-top: 50px;
}

.hr1Main {
  background-color: #61dafb;
  width: 10%;
}

.aboutMeRow {
  padding-top: 50px;
  position: relative;
  z-index: 10;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

#aboutMeIcon {
  color: #ffffff;
  font-size: 40px;
}

.aboutMeh3 {
  color: #61dafb;
  flex: 50%;
}

.aboutMePTags {
  color: #ffffff;
}

.portfolioWrapper {
  width: 100%;
  height: 200px;
  position: relative;
  background-color: #282c34;
  z-index: 10;
}

@media screen and (max-width: 770px) {
  .aboutMeRow {
    flex-direction: column;
  }
}

@media screen and (max-width: 420px) {
  .hr1Main {
    width: 27.5%;
  }
}

@media screen and (max-width: 360px) {
  .hr1Main {
    width: 30%;
  }
}

@media screen and (max-width: 359px) {
  .barChartMyPic {
    width: 250px;
    height: 200px;
  }
}

@media screen and (max-width: 300px) {
  .hr1Main {
    width: 37.5%;
  }
}
