body::-webkit-scrollbar {
  display: none;
}

.siteWrapper {
  background-color: #ffffff;
  position: relative;
  width: 100%;
  height: 100%;
}


.starWrapper {
  display: flex;
  flex-wrap: wrap-reverse;
  position: relative;
  top: 0;
  margin-bottom: -0.1vh;
}

/* Curved Div */
.svg {
  z-index: 1;
  position: relative;
}
/* Curved Div */

.aboutMeWrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
  width: 100%;
  height: auto;
  background-color: #282c34;
  margin-bottom: -0.3vh;
  /* padding-bottom: 30vh; */
}

.aboutMeContainer,
.aboutMeHeader {
  position: relative;
  z-index: 10;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.aboutMeHeader {
  color: #ffffff;
  padding-top: 50px;
}

.hr1Main {
  border: 1px solid #ffffff;
  width: 10%;
}

.aboutMeRow {
  padding-top: 50px;
  position: relative;
  z-index: 10;
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  /* overflow-x: hidden; */
}

#aboutMeIcon {
  color: #ffffff;
  font-size: 40px;
}

.aboutMeh3 {
  color: #61dafb;
  flex: 50%;
}

.aboutMePTags {
  color: #ffffff;
}

/* Bar Chart */
.barChartContainer {
  width: 100%;
  height: auto;
  margin-top: 5%;
  /* margin-bottom: 7.5%; */
  background-color: #282c34;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.barChartRow {
  width: 100%;
  background-color: #282c34;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

#MyPicCol,
#barChartCol {
  background-color: #282c34;
  text-align: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-bottom: 3%;
}

.barChartMyPic {
  margin-top: 3.8%;
  width: 400px;
  height: 300px;
  border-radius: 50px;
}

.talkingAboutMeH3 {
  margin-top: 3%;
  color: #ffffff;
}

.hr1Me {
  border: 1px solid #ffffff;
  width: 44%;
}

.talkingAboutMe {
  color: #ffffff;
}

.barChart {
  width: 100%;
  height: auto;
}

.moreAboutMe {
  color: #ffffff;
}
/* Bar Chart */

@media screen and (max-width: 1119px) {
  .hr1Me {
    width: 53%;
  }
}

@media screen and (max-width: 991px) {
  #MyPicCol,
  #barChartCol {
    flex: 50%;
  }

  #barChartCol {
    margin-top: 10%;
  }

  .barChartMyPic {
    width: 300px;
    height: 250px;
  }

  .hr1Me {
    width: 70%;
  }
}

@media screen and (max-width: 770px) {
  .aboutMeRow {
    flex-direction: column;
  }

  .aboutMePTags {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .barChartContainer {
    margin-bottom: 100%;
  }

  #barChartCol {
    margin-top: 0%;
  }

  .hr1Me {
    width: 47%;
  }
}

@media screen and (max-width: 760px) {
  .barChartRow {
    flex-direction: column;
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 420px) {
  .hr1Main {
    width: 27.5%;
  }

  .hr1Me {
    width: 80%;
  }
}

@media screen and (max-width: 360px) {
  .hr1Main {
    width: 30%;
  }
}

@media screen and (max-width: 359px) {
  .barChartMyPic {
    width: 250px;
    height: 200px;
  }

  .hr1Me {
    width: 86%;
  }
}

@media screen and (max-width: 311px) {
  .barChartMyPic {
    width: 220px;
    height: 170px;
  }
}

@media screen and (max-width: 300px) {
  .hr1Main {
    width: 37.5%;
  }

  .hr1Me {
    width: 44%;
  }
}
