.slider {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
  /*Slider Footer*/
  text-align: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #ffffff00;
}

.footerName {
  text-align: center;
  justify-content: center;
}

.h3 {
  color: #555555;
}

.hr {
  border: 1px solid #555555;
  width: 15%;
}

.Col {
  text-align: center;
  justify-content: center;
}

a {
  z-index: 1001;
  color: #282c34;
  position: relative;
  text-align: center;
  justify-content: center;
  font-size: 7.5vh;
  flex-direction: column;
}

.iconRow {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
}

.bottomName {
  font-family: "Yellowtail", cursive;
  text-align: center;
  justify-content: center;
  margin-bottom: 3vh;
}

#envelope,
#linkedin {
  color: #0077b5;
}

#github {
  color: #24292e;
}

#pinterest {
  color: #e60023;
}

#instagram{
  background: linear-gradient(45deg,#fadb04, #f90901, #662c8f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 300px) {
  #envelope,
  #linkedin,
  #github,
  #pinterest,
  #instagram {
    font-size: XX-large;
  }
  
  .hr {
    width: 60%;
  }
}
