.slider {
  width: 100%;
  padding-top: 5%;
  padding-bottom: 5%;
  justify-content: center;
  /*Slider Footer*/
  text-align: center;
  position: sticky;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #ffffff00;
}

.footerName {
  text-align: center;
  justify-content: center;
}

.Col {
  text-align: center;
  justify-content: center;
}

ul {
  list-style: none;
  text-align: center;
  justify-content: center;
}

li {
  margin: 0 35px 0 0;
  padding-top: 10px;
  text-align: center;
  justify-content: center;
}

h5 {
  font-weight: bold;
  font-style: italic;
  color: #282c34;
  text-align: center;
  justify-content: center;
}

a {
  z-index: 1001;
  color: #282c34;
  position: relative;
  text-align: center;
  justify-content: center;
}

.bottomName {
  font-family: "Yellowtail", cursive;
  text-align: center;
  justify-content: center;
  /* position: absolute; */
  /* bottom: 0; */
  /* right: 0; */
}
