.wrapper {
  width: 100%;
  height: auto;
  background-color: #282c34;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 10;
}

.portfolioContainer {
  position: relative;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.portfolioRow {
  position: relative;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.portfolioHeading {
  color: #ffffff;
}

.headingHr {
  border: 1px solid #ffffff;
  width: 13%;
}
