.wrapper {
  background-color: #ffffff;
  overflow-x: hidden;
  z-index: 10;
}

.container {
  background-color: #ffffff;
}

.row {
  background-color: #ffffff;
}

.MyPicCol {
  background-color: #ffffff;
}

.MyPic {
  width: 310px;
  height: 310px;
  border-radius: 50px;
}

.barChartCol {
  background-color: #ffffff;
}

.barChart {
  width: 310px;
  height: 310px;
}
