.wrapper {
  width: 100%;
  height: auto;
  /* background-color: blue; */
}

.container {
  width: 100%;
  height: auto;
  /* background-color: turquoise; */
}

.row {
  width: 100%;
  height: auto;
  background-color: burlywood;
}
