.wrapper {
  width: 100%;
  height: auto;
  background-color: #282c34;
  box-sizing: border-box;
  padding-top: 5%;
  padding-bottom: 5%;
}

.container {
  width: 100%;
  height: auto;
}

.row {
  width: 100%;
  height: auto;
}

#myPicCol {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.myPicContainer {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.myPicRow {
  text-align: center;
  justify-content: center;
  align-items: center;
}

#myActualPicCol {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Me {
  width: 350px;
  height: 300px;
  border-radius: 50px;
}

#barChartCol {
  width: 100%;
  height: auto;
  /* background-color: #282c34; */
}

.myBarChartContainer {
  width: 100%;
  height: auto;
  /* background-color: blue; */
  background-color: #282c34;
  border-radius: 30px;
  padding: 2.5%;
  box-shadow: 15px 15px 15px #0b0d0f, -15px -15px 15px #444b58;
}

/* Neumorphism Stuff */

.containerHTML,
.containerCSS,
.containerBootStrap,
.containerJavaScript,
.containerReact,
.containerAngular,
.containerNode,
.containerMongoose,
.containerMySQL,
.containerThree {
  width: 100%;
  background-color: #282c34;
  border-radius: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  /* margin-left: -5%; */
  /* margin-right: -5%; */
  margin-bottom: 2%;
  /* box-shadow: 5px 5px 7px 0 #00000040, -3px -3px 5px 0 #ffffff4d; */
  box-shadow: 5px 5px 5px 3px #0b0d0f, -1px -1px 2px 1px #444b58;
}

.skills {
  color: #000000;
}

.html,
.css,
.bootstrap,
.javascript,
.react,
.angular,
.node,
.mongoose,
.mysql,
.three {
  border-radius: 10px;
  padding-left: 2.5%;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  margin-left: 2.5px;
  text-align: start;
  background-color: #61dafb;
}

.html {
  width: 90%;
}
.css {
  width: 90%;
}
.bootstrap {
  width: 95%;
}
.javascript {
  width: 95%;
}
.react {
  width: 95%;
}
.angular {
  width: 50%;
}
.node {
  width: 85%;
}
.mongoose {
  width: 75%;
}
.mysql {
  width: 75%;
}
.three {
  width: 55%;
}
